* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 750px;
    height: 750px;
    background-color: gainsboro;
    overflow: hidden;
}

.firstLine {
    display: flex;
    height: 325px;
}

.bigGreenCircle {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: green;
    top: -175px;
    left: -175px;
    z-index: 0;
}

.redTriangle {
    position: relative;
    width: 0;
    height: 0;
    border-bottom: 200px solid red;
    border-left: 200px solid transparent;
    margin-left: auto;
}

.secondLind {
    display: flex;
}

.smallGreenCicrle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: 55%;
    bottom: 75px;
    z-index: 2;
    background-color: green;
}

.blueRectangle {
    position: relative;
    width: 600px;
    height: 100px;
    bottom: 225px;
    left: 10%;
    transform: rotate(45deg);
    background-color: blue;
    z-index: 1;
}

.third{
    display: flex;
    justify-content: center;
}

.violetRectangle {
    position: relative;
    width: 550px;
    height: 155px;
    bottom: 125px;
    border-radius: 65px;
    background-color: blueviolet;
    z-index: 2;
}